
# .env.new.example
HOSTINGER_API_KEY=
HOSTINGER_HOST=lilou-logistique.com
EXPO_TOKEN=
EXPO_USERNAME=
EXPO_PASSWORD=
ANDROID_KEYSTORE_BASE64=
ANDROID_KEYSTORE_PASSWORD=X7f!9pq#K2sR4uT8LmZ0bN6vW3yH1cG5
ANDROID_KEY_ALIAS=lilou_logistique_key
ANDROID_KEY_PASSWORD=V8r@2Mz$F5kQ7xY1GhP9jLb4wT3nD6s
APPLE_APP_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_ISSUER_ID=
APPLE_P8_BASE64=
NEXT_PUBLIC_SUPABASE_URL=https://fauuqcmfzxltjrlbdibh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXTAUTH_URL=https://lilou-logistique.com
NEXTAUTH_SECRET=
